<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	   <meta http-equiv="x-ua-compatible" content="ie=edge">
	   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<style>
    body{
        margin-top: 50px;
        background-color: black;
    }
    * {
  box-sizing: border-box;

}

.text{
    text-align: center;
    color: solid black;
}
.row>div>h2{
    text-shadow: 2px 2px 5px rgb(114, 114, 114);
    text-transform: capitalize;
}
</style>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:rgb(182, 182, 182); padding: 50px;margin-bottom: 90px; ">
          <h2  class="text" style="font-size:x-large">Temperature</h2>
          <p  class="text" style="font-size:large;">{{temp}}</p>
        </div>
        <div class="col-sm-4" style="background-color:rgb(196, 196, 196);padding: 50px;margin-bottom: 90px;">
          <h2  class="text" style="font-size:x-large">Humidity</h2>
          <p  class="text" style="font-size:large;">{{humi}}</p>
        </div>
        <div class="col-sm-4" style="background-color:rgb(204, 202, 202);padding: 50px;margin-bottom: 90px;">
          <h2  class="text" style="font-size:x-large">CO2</h2>
          <p  class="text" style="font-size:large;">{{co2}}</p>
        </div>
        <div class="col-md-4">
            <canvas id="myChart"></canvas>
            <script type="text/javascript">
      var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
// The type of chart we want to create
type: 'line',

// The data for our dataset
data: {
    labels: ['1', '2', '3', '4', '5'],
    datasets: [{
        label: 'Temperature plot',
        backgroundColor: '#23BCD5',
        borderColor: '#23BCD5',
        data: {{ graphtemp }}
    }]
},
    
// Configuration options go here
options: {}
});

  </script></div>

        
        <div class="col-md-4">
            <canvas id="Chart"></canvas>
            <script type="text/javascript">
      var ctx = document.getElementById('Chart').getContext('2d');
var chart = new Chart(ctx, {
// The type of chart we want to create
type: 'line',

// The data for our dataset
data: {
    labels: ['1', '2', '3', '4', '5'],
    datasets: [{
        label: 'Humidity plot',
        backgroundColor: '#23BCD5',
        borderColor: '#23BCD5',
        data: {{ graphhumi }}
    }]
},

// Configuration options go here
options: {}
});

  </script>

        </div>
    
    
        <div class="col-md-4">
            <canvas id="co2"></canvas>
            <script type="text/javascript">
      var ctx = document.getElementById('co2').getContext('2d');
var chart = new Chart(ctx, {
// The type of chart we want to create
type: 'line',

// The data for our dataset
data: {
    labels: ['1', '2', '3', '4', '5'],
    datasets: [{
        label: 'co2 plot',
        backgroundColor: '#23BCD5',
        borderColor: '#23BCD5',
        data: {{ graphco2 }}
    }]
},

// Configuration options go here
options: {}
});

  </script>

        </div>
      </div>
      </div>
</body>
</head>
</html>

