<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
     body{
         background-color: black;
     }
</style>
</head>
<body>
{% if user.is_authenticated %}
    <div class="container">
        <div>
 <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://yuvateja01.github.io/htmlplotly/chart1.html" 
 height="525" width="100%" >
</iframe>
</div>

<div class="row">
    <div class="col-lg-6">
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://yuvateja01.github.io/htmlplotly/chart2.html" 
    height="400" width="100%"></iframe>
</div>
    
    
<div class="col-lg-6">
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://yuvateja01.github.io/htmlplotly/chart3.html" 
  height="400" width="100%"> </iframe> 
</div>
    </div>


<div >
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://yuvateja01.github.io/htmlplotly/chart4.html" 
height="400" width="100%"></iframe>
</div>
{% else %}
<h1 class= text-white>Please login</h1>
{% endif %}

</div>
</body>
</html>
