<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
{% load crispy_forms_tags %}
  <form method="POST" class="form-group">
	{% csrf_token %}
	<div id="div_id_username" class="form-group">
        <label for="id_username" class=" requiredField">Username</label>
        <div class=""> <input type="text" name="username" maxlength="150" autofocus="" class="textinput textInput form-control" required="" id="id_username"> <small id="hint_id_username" class="form-text text-muted"></small> </div> </div>
      <div id="div_id_email" class="form-group">
          <label for="id_email" class=" requiredField">Email </label>
          <div class=""> <input type="email" name="email" class="emailinput form-control" required="" id="id_email"> </div> </div>
      <div id="div_id_password1" class="form-group">
          <label for="id_password1" class=" requiredField">Password </label>
          <div class=""> <input type="password" name="password1" class="textinput textInput form-control" required="" id="id_password1"> <small id="hint_id_password1" class="form-text text-muted"></small> </div> </div>
      <div id="div_id_password2" class="form-group">
          <label for="id_password2" class=" requiredField">Password confirmation </label> <div class="">
          <input type="password" name="password2" class="textinput textInput form-control" required="" id="id_password2"> <small id="hint_id_password2" class="form-text text-muted"></small> </div> </div>
	<button type="submit" class="btn btn-success">Register</button>
    </form>
    {{ error }}
</body>
</html>